body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
}

h1{
    margin-top: 40px;
}

input{
    height: 14px;
    margin-left: 20px;
}
.container {
    max-width: 700px;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

form {
    display: block;
    margin-bottom: 15px;
}

label {
    margin-top: 50px;
}

input[type="text"],
input[type="radio"],
input[type="checkbox"] {
    margin-bottom: 10px;
}

#firstname{
    margin-top: 10px;
}

button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

table {
    width: 100%;
    padding: 10px;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}