.container{
   font-family: 'Raleway', sans-serif;
   margin-top: 5%;
    display: grid;
    border: 2px solid black;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #778899;
    flex-wrap: nowrap;
}

h1{
   font-family: 'Raleway', sans-serif;
   color:black;
   background-color: aliceblue;
   box-shadow: 3px 3px 3px 3px rgb(85, 62, 62);
}
body{
   background-image: linear-gradient(yellow,lightblue,red,lavender);
}

.card{
    padding: 10px; 
} 

.card-img-top{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.card-body{
   height: 100%;
   box-shadow: #778899 ;
   border: 1px solid black;
   box-shadow: 5px 5px 18px #0e0a0a;
   background-image: linear-gradient(rgb(67, 70, 71),purple);
}

.card-title{
    background-color: black;
    color: white;
    text-align: center;
    padding: 12px;
    margin-top: 0%;
}

.card-text{
   font-size: small;
    padding-top: 5px;
    color: whitesmoke;
    text-align: center;
    margin : 3%;

} 

#anch{
   padding: 10px;
}

.btn{
   font-size: smaller;
   color: whitesmoke;
   background-image: linear-gradient(rgb(67, 70, 71),purple);
   border: 1px solid;
}

a{
   margin-bottom: 20px;
}