h1{
  background-color: rgb(111, 255, 111);
  padding: 20px;
}

.container{
  background-color: rgb(231, 235, 228);
}

span{
  margin: 40px;
}

.link{
  color: rgb(0, 0, 0);
}

nav{
  padding: 10px;
}

.link:hover{
  color: rgb(15, 192, 83);
}