#target{
    color: cornflowerblue;
    font-size: 400px;
}

.container{
    background-color: rgb(232, 235, 238);
    border: 3px solid black;
    height: 600px;
    width: 800px;
    flex-wrap: wrap;
}

h1{
    background-color: red;
    color: white;
    text-align:center;
    height: 100px;;
    margin-top: 0%;
    border: 2px solid black;
    font-size: 80px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#output{
    flex-wrap: wrap;
    margin-top: 10%;
    color:darkorange;
    font-size: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
 
body{
    background-color: chartreuse;
}